{% extends 'master/master.template.twig' %}

{% block metaHead %}
<meta name="description" content="This is Pocketninja Design,  which is almost an institution.  I owned .com once but that has gone forever :-( .design got too expensive and people around the world don't care about .co.uk :-D Anyhow, check out a load of stuff in my portfolio which I'll be updating constantly as of 6th Nov 2023. Boyyyyeeeeeeeeeee!!!!">
{% endblock %}

{% block title %}Welcome to PocketninjaDesign{% endblock %}

{% block pageClass %}page-holding{% endblock %}

{% block sideNavBlock %}{{parent()}}{% endblock %}

{% block pageBespokeContent %}
  {% include "common/enter-button.twig" with {"id": "holdingEnterButton", "message": "Enter"} %}
{% endblock %}

{% block body %}
  <div class="under-contruction">
    <div class="site-width">
      <h1>Digital Designer &amp;</h1>
      <h3>Front End Developer</h3>
      {% include "common/social-media-links.twig" with {"id": "holdingSocialLinks"} %}
    </div>
  </div>
{% endblock %}