@keyframes rotateOnce {
  0% { transform: scale(0.1) rotate(-360deg) }
  50% { transform: scale(0.4) rotate(-360deg) }
  100% { transform: scale(1) rotate(0deg) }
}

@keyframes rotateOncePiece1 {
  0% {
    transform: scale(0.1);
    border-radius: 50%;
    width: 80px;
    height: 80px;
  }
  70% {
    transform: scale(0.1);
    border-radius: 50%;
    width: 80px;
    height: 80px;
  }
  100% {
    transform: scale(1);
    border-radius: 0;
    width: 50%;
    height: 50%;
  }
}


.animation-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .anim-piece {
    width: 50%;
    height: 50%;
    position: absolute;
    background: #fff !important;

    &.piece-1 {
      top: 0;
      left: 0;
      background: #fc0;
    }
    &.piece-2 {
      top: 0;
      right: 0;
      background: #f00;
    }
    &.piece-3 {
      bottom: 0;
      left: 0;
      background: green;
    }
    &.piece-4 {
      bottom: 0;
      right: 0;
      background: blue;
    }
  }
}

.animation-1-in {
  animation: rotateOnce ease-in-out 2s;

  .anim-piece {
    animation: rotateOncePiece1 ease-in-out 2s;
  }
}


@keyframes animation1Out {
  0% {
    width: 50%;
    height: 50%;
    opacity: 1;
  }
  100% {
    width: 0;
    height: 0;
    opacity: 0;
  }
}

.animation-1-out {
  .anim-piece {
    width: 0;
    height: 0;

    animation: animation1Out ease-out 300ms;
  }
}