.page-portfolio-landing {

  .body-block {
    display: none;
  }
  .body-block-2 {
    width: 50%;
  }

  .portfolio-section-title,
  .portfolio-information-title,
  .portfolio-information-text,
  .portfolio-list-item {
    opacity: 0;
  }
}