@keyframes rotateLoop {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeIn {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes rotateOnce {
  0% {
    transform: scale(0.1) rotate(-360deg);
  }
  50% {
    transform: scale(0.4) rotate(-360deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}
@keyframes rotateOncePiece1 {
  0% {
    transform: scale(0.1);
    border-radius: 50%;
    width: 80px;
    height: 80px;
  }
  70% {
    transform: scale(0.1);
    border-radius: 50%;
    width: 80px;
    height: 80px;
  }
  100% {
    transform: scale(1);
    border-radius: 0;
    width: 50%;
    height: 50%;
  }
}
.animation-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.animation-1 .anim-piece {
  width: 50%;
  height: 50%;
  position: absolute;
  background: #fff !important;
}
.animation-1 .anim-piece.piece-1 {
  top: 0;
  left: 0;
  background: #fc0;
}
.animation-1 .anim-piece.piece-2 {
  top: 0;
  right: 0;
  background: #f00;
}
.animation-1 .anim-piece.piece-3 {
  bottom: 0;
  left: 0;
  background: green;
}
.animation-1 .anim-piece.piece-4 {
  bottom: 0;
  right: 0;
  background: blue;
}

.animation-1-in {
  animation: rotateOnce ease-in-out 2s;
}
.animation-1-in .anim-piece {
  animation: rotateOncePiece1 ease-in-out 2s;
}

@keyframes animation1Out {
  0% {
    width: 50%;
    height: 50%;
    opacity: 1;
  }
  100% {
    width: 0;
    height: 0;
    opacity: 0;
  }
}
.animation-1-out .anim-piece {
  width: 0;
  height: 0;
  animation: animation1Out ease-out 300ms;
}

.full-animation-1 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2000;
}
.full-animation-1 > div {
  position: absolute;
  width: 50%;
  height: 50%;
  overflow: hidden;
}
.full-animation-1 > div > div {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
}
.full-animation-1 .u-l {
  top: 0;
  left: 0;
}
.full-animation-1 .u-r {
  top: 0;
  right: 0;
}
.full-animation-1 .b-l {
  bottom: 0;
  left: 0;
}
.full-animation-1 .b-r {
  bottom: 0;
  right: 0;
}

.full-animation-1.swatch2 > div > div {
  background: #1b1c1c;
}

.t-uppercase {
  text-transform: uppercase;
}

/*
 * Anchors
 *
 * Most anchors will have these basic settings
 * there may be an instance when the text-decoration
 * is required within paragraphs
 *
 */
a,
.link {
  display: inline-block;
  color: #d91f2d;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}
a:hover,
.link:hover {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

html,
body,
p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 200;
  color: #505050;
  line-height: 1.4;
  overflow: hidden;
}

.bg-color-1 {
  background-color: #0b0b0b;
}

.bg-color-2 {
  background-color: #1b1c1c;
}

.bg-color-3 {
  background-color: #3a3b3a;
}

.bg-color-4 {
  background-color: #841619;
}

.bg-color-5 {
  background-color: #d91f2d;
}

.bg-color-6 {
  background-color: #cfd0d2;
}

.bg-color-7 {
  background-color: #505050;
}

.bg-color-8 {
  background-color: #505050;
}

.bg-color-9 {
  background-color: #fff;
}

.bg-color-10 {
  background-color: #000;
}

.content-area {
  position: relative;
  z-index: 100;
}
@media (min-width: 700px) {
  .content-area {
    height: 100%;
  }
}

.font-logo {
  font-family: "Fredoka One", cursive;
  font-weight: 400;
}

.font-size1 {
  font-family: "dosis", sans-serif;
  font-size: 50px;
  font-weight: 800;
  color: #3a3b3a;
  line-height: 1.1;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.font-size2 {
  font-family: "dosis", sans-serif;
  font-size: 38px;
  font-weight: 700;
  color: #d91f2d;
  line-height: 1.1;
  padding-bottom: 18px;
  text-transform: uppercase;
}

.font-size3 {
  font-family: "dosis", sans-serif;
  font-size: 34px;
  font-weight: 500;
  color: #d91f2d;
  line-height: 1.1;
  padding-bottom: 14px;
  text-transform: uppercase;
}

.font-size4 {
  font-family: "dosis", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #841619;
  line-height: 1;
  padding-bottom: 12px;
  text-transform: uppercase;
}

.font-size5 {
  font-family: "dosis", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #841619;
  line-height: 1;
  padding-bottom: 40px;
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
}

h1 {
  font-family: "dosis", sans-serif;
  font-size: 50px;
  font-weight: 800;
  color: #3a3b3a;
  line-height: 1.1;
  padding-bottom: 10px;
  text-transform: uppercase;
}

h2 {
  font-family: "dosis", sans-serif;
  font-size: 38px;
  font-weight: 700;
  color: #d91f2d;
  line-height: 1.1;
  padding-bottom: 18px;
  text-transform: uppercase;
}

h3 {
  font-family: "dosis", sans-serif;
  font-size: 34px;
  font-weight: 500;
  color: #d91f2d;
  line-height: 1.1;
  padding-bottom: 14px;
  text-transform: uppercase;
}

h4 {
  font-family: "dosis", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #841619;
  line-height: 1;
  padding-bottom: 12px;
  text-transform: uppercase;
}

h5 {
  font-family: "dosis", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #841619;
  line-height: 1;
  padding-bottom: 40px;
  text-transform: uppercase;
}

input.text {
  border: none;
}

ul {
  list-style: none;
}
ul li {
  margin: 0 0 5px 0;
}

.panel-base {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  transition: top 2000ms, left 2000ms;
}

.panel {
  position: absolute;
  overflow-y: auto;
  left: 1000px;
}
.panel .content {
  text-align: center;
}

p {
  padding-bottom: 15px;
}

/*
 * site-width
 * Used for setting the width of the site when
 * on larger screens.  Also resizes responsively
 * with padding for smaller devices
 *
 */
.site-width {
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 10px;
}
@media screen and (min-width: 450px) {
  .site-width {
    padding: 0 20px;
  }
}
@media screen and (min-width: 1024px) {
  .site-width {
    padding: 0;
  }
}

@media (max-width: 700px) {
  .tool-device-touch {
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
  }
}

.arrow-icon {
  width: 100%;
  height: 100%;
  fill: #cfd0d2;
  transition: fill 200ms;
}
.arrow-icon.right {
  transform: rotate(-180deg);
}
.arrow-icon:hover {
  fill: #1b1c1c;
}

.body-block {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100%;
}

.body-block-2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background: #F9FAFB;
}

.burger-menu {
  position: relative;
  width: 40px;
  height: 35px;
  cursor: pointer;
}
.burger-menu > div {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 20px;
  height: 3px;
  background: #505050;
  border-radius: 3px;
}
.burger-menu > div:after {
  position: absolute;
  height: 3px;
  display: block;
  border-radius: 3px;
  width: 0;
  content: "";
  transition: width 200ms, right 200ms;
}
.burger-menu > div.burger-bar-1 {
  transform: translateY(0);
}
.burger-menu > div.burger-bar-1:after {
  right: 0;
}
.burger-menu > div.burger-bar-2 {
  transform: translateY(6px);
}
.burger-menu > div.burger-bar-3 {
  transform: translateY(12px);
}
.burger-menu > div.burger-bar-3:after {
  right: 0;
}
@media (hover: hover) {
  .burger-menu:hover > div:after {
    background: #cfd0d2;
    width: 100%;
  }
}
.burger-menu a.close {
  background: #fc0;
}
@media (hover: hover) {
  .burger-menu a.close:hover {
    background: #f00;
  }
}
.burger-menu.active > div:after {
  background: #cfd0d2;
  width: 3px;
}
@media (hover: hover) {
  .burger-menu.active:hover > div:after {
    width: 50%;
  }
}

.burger-menu.light.active > div:after, .burger-menu.light:hover > div:after {
  background: #0b0b0b;
}

.logo {
  text-align: center;
}
.logo .logo-icon {
  margin: 0 auto;
  width: 8em;
}
.logo .logo-icon .pn-logo .blade {
  transform-origin: 50% 50%;
  animation: rotateLoop linear 900ms infinite;
}
.logo p {
  position: relative;
  top: -0.625em;
}
.logo span {
  font-family: "Fredoka One", cursive;
  font-weight: 400;
  font-weight: 400;
  font-size: 1.6em;
}
.logo .logotext-pocket {
  color: #3a3b3a;
}
.logo .logotext-ninja {
  color: #d91f2d;
}
.logo .logotext-design {
  color: #cfd0d2;
}

.portfolio-swatch {
  cursor: pointer;
}
.portfolio-swatch .inner {
  background-color: rgba(217, 31, 45, 0.1);
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 5px;
  transition: background-color 150ms;
}
.portfolio-swatch .inner img {
  width: 100%;
}
.portfolio-swatch:hover .inner {
  background-color: #d91f2d;
}

.section .site-width {
  padding-top: 50px;
  padding-bottom: 100px;
}

.swatch {
  position: relative;
  float: left;
  margin: 0 40px 40px 0;
  width: 150px;
  height: 150px;
  background: #fff;
  box-shadow: 0 10px 14px rgba(0, 0, 0, 0.07);
}
.swatch:after {
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  content: "";
  display: block;
}
.swatch.colour1:after {
  background: #0b0b0b;
}
.swatch.colour2:after {
  background: #1b1c1c;
}
.swatch.colour3:after {
  background: #3a3b3a;
}
.swatch.colour4:after {
  background: #841619;
}
.swatch.colour5:after {
  background: #d91f2d;
}
.swatch.colour6:after {
  background: #cfd0d2;
}
.swatch.colour7:after {
  background: #505050;
}
.swatch.colour8:after {
  background: #505050;
}

.form-block {
  padding: 0 0 40px 0;
}
.form-block label {
  display: block;
  margin-bottom: 10px;
}
.form-block .input {
  padding: 10px;
}

.is-not-valid {
  border: 5px solid #f00;
}

.is-valid {
  border: 5px solid green;
}

:root {
  --grid-small-columns: repeat(5, 1fr);
}
@media (min-width: 700px) {
  :root {
    --grid-small-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1024px) {
  :root {
    --grid-small-columns: repeat(6, 1fr);
  }
}

.grid.grid-small {
  display: grid;
  gap: 2px;
  grid-template-columns: var(--grid-small-columns);
}
.grid.grid-small .grid-item {
  margin-bottom: 2px;
}
.grid.grid-medium {
  margin: 0 -10px;
  display: grid;
  gap: 10px;
  grid-template-columns: var(--grid-small-columns);
}
.grid.grid-medium .grid-item {
  margin-bottom: 10px;
}

.social-media-links {
  display: inline-block;
}
.social-media-links li {
  float: left;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.social-media-links li:last-child {
  margin-right: 0;
}
.social-media-links li .social-media-link {
  fill: #505050;
  transition: fill 200ms, transform 200ms;
}
.social-media-links li:hover .social-media-link {
  fill: #3a3b3a;
  transform: scale(1.3);
}

.social-media-links:after {
  clear: both;
  content: "";
  display: block;
}

.swatch-container:after {
  clear: both;
  content: "";
  display: block;
}

.box-enlarger-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3000;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 1000ms;
}
.box-enlarger-overlay.box-overlay-active {
  background-color: rgba(0, 0, 0, 0.9);
  right: 0;
  bottom: 0;
}
.box-enlarger-overlay .box-enlarge-item {
  position: absolute;
  transition: all 1000ms;
  margin: 0;
}
.box-enlarger-overlay .box-enlarge-item.active {
  top: 0 !important;
  left: 0 !important;
  width: 80% !important;
  height: auto !important;
}

.codepen-item {
  position: relative;
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 58.59375%;
}
.codepen-item .codepen-item-inner {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.codepen-item .codepen-item-inner img {
  width: 100%;
}
.codepen-item .codepen-item-inner .codepen-item-detail {
  display: none;
}

/*
 * Carousel
 *
 *
 */
.carousel {
  position: relative;
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
}
.carousel .carousel-slider-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}
.carousel .carousel-slider-container .carousel-slider {
  position: absolute;
  height: 100%;
  text-align: center;
  left: 0;
  transition: left 300ms;
}
.carousel .carousel-slider-container .carousel-slider > li {
  position: absolute;
  height: 100%;
  color: #fff;
}
.carousel .carousel-nav .carousel-btn {
  position: absolute;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
  color: #fff;
  font-size: 16px;
  padding: 5px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.carousel .carousel-nav .carousel-btn.left {
  left: -70px;
}
.carousel .carousel-nav .carousel-btn.right {
  right: -70px;
}
.carousel:hover .carousel-nav {
  display: block;
}

.enter-button {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 34px;
  cursor: pointer;
}
.enter-button .box {
  position: absolute;
  width: 16px;
  height: 16px;
  border: 1px solid #3a3b3a;
}
.enter-button .box.one {
  top: 0;
  left: 0;
}
.enter-button .box.two {
  top: 0;
  right: 0;
}
.enter-button .box.three {
  bottom: 0;
  left: 0;
}
.enter-button .box.four {
  right: 0;
  bottom: 0;
}
.enter-button .enter-button-message {
  font-family: "dosis", sans-serif;
  font-size: 38px;
  font-weight: 700;
  color: #d91f2d;
  line-height: 1.1;
  padding-bottom: 18px;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  opacity: 0;
  font-size: 10px;
  padding: 0;
}

/*
 * Font Block
 *
 * Description
 * for displaying Aa, the alphabet upper and lower and all numbers
 *
 */
.font-block {
  display: table;
  color: #cfd0d2;
  margin-bottom: 50px;
}
.font-block .font-large {
  display: table-cell;
  font-size: 100px;
  vertical-align: middle;
  width: 160px;
}
.font-block .font-detail {
  display: table-cell;
  vertical-align: middle;
  font-size: 40px;
}
.font-block .font-detail .font-name {
  color: #cfd0d2;
  display: block;
  font-size: 20px;
  padding-top: 20px;
}

.primary-footer {
  height: 300px;
}

.header-large {
  position: relative;
  padding: 48px 0 0 0;
  text-align: center;
}
.header-large .logo {
  font-size: 13px;
  display: inline-block;
  margin-bottom: 70px;
}

.anim-wrapper {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1100;
}
.anim-wrapper-absolute {
  position: absolute;
}
.anim-wrapper-fixed {
  position: fixed;
}
.anim-wrapper .anim-default {
  background: #fc0;
  border-radius: 20px;
  width: 100px;
  height: 100px;
  animation: rotateLoop linear 900ms infinite;
}

.modal {
  position: fixed;
  z-index: 2100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 200px;
  padding: 20px;
}
.modal .close-bttn {
  position: absolute;
  top: -20px;
  right: -20px;
  z-index: 3;
  width: 40px;
  height: 40px;
  background: #841619;
  border-radius: 40px;
  cursor: pointer;
  line-height: 40px;
  text-align: center;
}
.modal .modal-inner {
  position: relative;
}
.modal .modal-inner .modal-content-footer .btn {
  cursor: pointer;
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  height: 100%;
  width: 0;
  background: #841619;
  transition: width 400ms;
  transition-timing-function: ease-out;
}
.navigation.active {
  width: 90%;
}
@media screen and (min-width: 440px) {
  .navigation.active {
    width: 80%;
  }
}
@media screen and (min-width: 710px) {
  .navigation.active {
    width: 50%;
  }
}
.navigation.active .nav-action {
  background-color: #d91f2d;
}
.navigation.active .nav-action .band.top {
  transform: rotate(-30deg);
  top: 15px;
  left: 8px;
}
.navigation.active .nav-action .band.middle {
  width: 0;
}
.navigation.active .nav-action .band.bottom {
  transform: rotate(30deg);
  top: 29px;
  left: 8px;
}
.navigation.active .nav-wrapper .nav-options .nav {
  color: #d91f2d;
}
.navigation .nav-action {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 10;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 300ms;
}
.navigation .nav-action:hover {
  background-color: black;
}
.navigation .nav-action .band {
  position: absolute;
  left: 10px;
  top: 12px;
  width: 30px;
  height: 5px;
  background: #fff;
  border-radius: 5px;
  transform: rotate(0deg);
  transition: transform 200ms, width 200ms, top 200ms, left 200ms;
}
.navigation .nav-action .band.middle {
  top: 22px;
}
.navigation .nav-action .band.bottom {
  top: 32px;
}
.navigation .nav-wrapper {
  position: relative;
  top: 0;
  left: 0;
  z-index: 5;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.navigation .nav-wrapper .nav-options {
  padding: 20px;
}
.navigation .nav-wrapper .nav-options .nav {
  width: 100%;
  text-align: right;
  font-family: "dosis", sans-serif;
  font-size: 50px;
  font-weight: 800;
  color: #3a3b3a;
  line-height: 1.1;
  padding-bottom: 10px;
  text-transform: uppercase;
  color: #841619;
  white-space: nowrap;
  text-transform: uppercase;
  display: block;
  font-size: 40px;
  line-height: 40px;
  cursor: pointer;
  padding-right: 0;
  transition: color 200ms, padding-right 200ms;
}
@media screen and (min-width: 384px) {
  .navigation .nav-wrapper .nav-options .nav {
    font-size: 50px;
    line-height: 50px;
  }
}
.navigation .nav-wrapper .nav-options .nav:hover {
  color: #fff;
  text-decoration: none;
  padding-right: 20px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1000;
  display: none;
  opacity: 0;
  transition: opacity 300ms;
}
.overlay.active {
  opacity: 1;
  display: block;
}
.overlay.active-in-animate-mode {
  display: block;
}
.overlay.fadeOut {
  animation: fadeOut 300ms forwards;
}
.overlay.click-enabled {
  cursor: pointer;
}

html.full-overlay-mode,
html.full-overlay-mode body {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
html.full-overlay-mode .main,
html.full-overlay-mode body .main {
  position: fixed;
  width: 100%;
}

.picture-box {
  display: inline-block;
  width: 100%;
}
@media (min-width: 700px) {
  .picture-box {
    height: 100%;
  }
}
.picture-box img {
  width: 100%;
}
@media (min-width: 700px) {
  .picture-box img {
    height: 100%;
    object-fit: contain;
  }
}

.peekaboo {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 100;
}
.peekaboo .peekaboo-inner {
  position: relative;
}
.peekaboo .peekaboo-inner img {
  display: block;
}

.portfolio-detail {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  background: #fff;
}
.portfolio-detail .portfolio-detail-header {
  position: relative;
  min-height: 78px;
}
@media (min-width: 700px) {
  .portfolio-detail .portfolio-detail-header {
    height: 15%;
    min-height: auto;
  }
}
.portfolio-detail .portfolio-detail-header .detail-header-info {
  padding: 20px 60px 20px 20px;
}
@media (min-width: 700px) {
  .portfolio-detail .portfolio-detail-header .detail-header-info {
    position: absolute;
    bottom: 20px;
    left: 18%;
    padding: 0;
  }
}
.portfolio-detail .portfolio-detail-header .detail-header-info .detail-title {
  font-size: 24px;
  padding: 0;
}
@media (min-width: 700px) {
  .portfolio-detail .portfolio-detail-header .detail-header-info .detail-title {
    font-size: 30px;
  }
}
.portfolio-detail .portfolio-detail-header .detail-header-info .detail-title span {
  font-weight: 500;
}
.portfolio-detail .portfolio-detail-header .burger-menu {
  position: fixed;
  top: 15px;
  right: 27px;
}
@media (min-width: 700px) {
  .portfolio-detail .portfolio-detail-header .burger-menu {
    right: 15px;
  }
}
@media (min-width: 700px) {
  .portfolio-detail .portfolio-detail-content {
    position: absolute;
    top: 15%;
    right: 18%;
    bottom: 20%;
    left: 18%;
    box-shadow: 0 0px 220px rgba(0, 0, 0, 0.2);
  }
}
@media (min-width: 700px) {
  .portfolio-detail .portfolio-detail-content .portfolio-detail-mobile-images {
    display: none;
  }
}
.portfolio-detail .portfolio-detail-content .portfolio-detail-mobile-images .portfolio-image-mobile {
  width: 100%;
  box-shadow: 0 0 70px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}
.portfolio-detail .portfolio-detail-content .carousel {
  display: none;
  height: 100%;
}
@media (min-width: 700px) {
  .portfolio-detail .portfolio-detail-content .carousel {
    display: block;
  }
}
.portfolio-detail .portfolio-detail-content .portfolio-image {
  display: none;
  width: 100%;
  height: 100%;
  background: no-repeat center center;
  background-size: contain;
}
@media (min-width: 700px) {
  .portfolio-detail .portfolio-detail-content .portfolio-image {
    display: block;
  }
}
.portfolio-detail .portfolio-detail-footer {
  text-align: center;
  padding-bottom: 40px;
}
@media (min-width: 700px) {
  .portfolio-detail .portfolio-detail-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 78px;
    padding-bottom: 0;
  }
}

.side-navigation {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 200;
  text-align: center;
}
@media (min-width: 700px) {
  .side-navigation {
    width: 60px;
  }
}
@media (min-width: 1025px) {
  .side-navigation {
    width: 19%;
  }
}
.side-navigation .burger-menu {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 10;
}
@media (min-width: 1025px) {
  .side-navigation .burger-menu {
    display: none;
  }
}
.side-navigation .side-navigation-menu {
  width: 100%;
  display: none;
}
@media (min-width: 700px) {
  .side-navigation .side-navigation-menu {
    display: block;
  }
}
.side-navigation .side-navigation-menu .logo {
  display: none;
  margin-top: 64px;
  font-size: 55%;
  margin-bottom: 2.7em;
}
@media (min-width: 1025px) {
  .side-navigation .side-navigation-menu .logo {
    display: block;
  }
}
.side-navigation .side-navigation-menu li .side-link {
  font-family: "dosis", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #841619;
  line-height: 1;
  padding-bottom: 12px;
  text-transform: uppercase;
  font-size: 28px;
  position: relative;
  display: block;
  color: #505050;
  cursor: pointer;
  display: none;
}
@media (min-width: 1025px) {
  .side-navigation .side-navigation-menu li .side-link {
    display: block;
  }
}
.side-navigation .side-navigation-menu li .side-link:hover {
  text-decoration: none;
  color: #d91f2d;
}
.side-navigation .side-navigation-menu li.active .side-link {
  color: #d91f2d;
}
.side-navigation .side-navigation-menu .social-media-container {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-bottom: 2.5em;
  width: 100%;
  text-align: center;
}
@media (max-width: 1024px) {
  .side-navigation .side-navigation-menu .social-media-container .social-media-links li {
    margin-right: 0;
    float: none;
  }
}
.side-navigation.active {
  width: 100%;
  transition: width 200ms;
}
@media (min-width: 700px) {
  .side-navigation.active {
    width: 40%;
  }
}
.side-navigation.active .side-navigation-menu {
  display: block;
}
.side-navigation.active .side-navigation-menu .logo {
  display: block;
}
.side-navigation.active .side-navigation-menu .side-link {
  display: block;
}
.side-navigation.active .side-navigation-menu .social-media-container .social-media-links li {
  float: left;
  margin-right: 10px;
}

.tab .tab-navigation > li {
  cursor: pointer;
}
.tab .tab-navigation > li.active {
  color: #d91f2d;
}
.tab .tab-content-list .tab-content-item {
  display: none;
}

.tree-box .branch {
  position: absolute;
  top: 6em;
  left: 5.9em;
  z-index: 1;
  width: 6.25em;
  height: 0.625em;
}
.tree-box > img {
  position: relative;
  z-index: 2;
  display: none;
}
.tree-box .tree1 {
  position: relative;
  z-index: 2;
  width: 17.1875em;
  height: 20.625em;
}

.section-portfolio .tab-navigation {
  margin: 0 0 20px 0;
}
.section-portfolio .tab-navigation > li {
  float: left;
  margin-right: 10px;
}
.section-portfolio .tab-navigation:after {
  clear: both;
  content: "";
  display: block;
}

.page-holding {
  text-align: center;
}
.page-holding .primary-logo {
  position: absolute;
  top: 25px;
  left: 0;
  width: 100%;
  z-index: 10;
  margin: 0 auto;
  font-size: 45%;
  transition: font-size 100ms;
}
@media (min-height: 800px) {
  .page-holding .primary-logo {
    font-size: 60%;
    top: 40px;
  }
}
.page-holding .enter-button {
  position: absolute;
  top: 70%;
  left: 50%;
  z-index: 200;
  transform: translate(-50%, -50%);
}
@media (min-height: 500px) {
  .page-holding .enter-button {
    top: 55%;
  }
}
@media (min-height: 700px) {
  .page-holding .enter-button {
    top: 50%;
  }
}
.page-holding .under-contruction {
  position: relative;
  z-index: 10;
  text-align: center;
  padding-top: 7.1em;
  transition: padding-top 100ms;
}
@media (min-height: 800px) {
  .page-holding .under-contruction {
    padding-top: 9em;
  }
}
.page-holding .under-contruction .site-width {
  max-width: 680px;
}
@media (min-height: 800px) and (min-width: 400px) {
  .page-holding .under-contruction .site-width {
    font-size: 140%;
  }
}
.page-holding .under-contruction .site-width h1 {
  font-size: 1.5625em;
  padding-bottom: 0.3em;
}
.page-holding .under-contruction .site-width h3 {
  font-size: 1.125em;
  padding-bottom: 0.625em;
}
.page-holding .tree-box {
  position: absolute;
  bottom: -2em;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  font-size: 60%;
  transition: font-size 300ms, bottom 200ms;
  display: none;
}
@media (min-height: 500px) {
  .page-holding .tree-box {
    display: block;
  }
}
@media (min-height: 700px) and (min-width: 450px) {
  .page-holding .tree-box {
    font-size: 80%;
    bottom: 0;
  }
}
@media (min-height: 900px) and (min-width: 450px) {
  .page-holding .tree-box {
    font-size: 100%;
    bottom: 1em;
  }
}

.page-portfolio {
  padding-top: 40px;
}
@media (max-width: 699px) {
  .page-portfolio {
    overflow: auto;
  }
}
@media (min-width: 700px) {
  .page-portfolio {
    padding-top: 0;
  }
}
@media (max-width: 701px) {
  .page-portfolio .body-block-2 {
    display: none;
  }
}
.page-portfolio .primary-logo {
  font-size: 70%;
}
@media (min-width: 700px) {
  .page-portfolio .primary-logo {
    position: absolute;
    top: 40px;
    left: 100px;
    z-index: 110;
    font-size: 50%;
  }
}
@media (max-height: 480px) {
  .page-portfolio .primary-logo {
    top: 20px;
  }
}
@media (min-width: 1024px) {
  .page-portfolio .primary-logo {
    display: none;
  }
}
.page-portfolio .portfolio-gallery {
  padding: 20px;
}
@media (min-width: 700px) {
  .page-portfolio .portfolio-gallery {
    float: right;
    width: 50%;
    padding-top: 240px;
    height: 100%;
    overflow-y: auto;
  }
}
@media (min-width: 1024px) {
  .page-portfolio .portfolio-gallery {
    padding-top: 190px;
  }
}
@media (max-height: 480px) {
  .page-portfolio .portfolio-gallery {
    padding-top: 20px !important;
  }
}
@media (min-width: 1024px) and (max-height: 600px) {
  .page-portfolio .portfolio-gallery {
    padding-top: 128px;
  }
}
@media (min-width: 700px) {
  .page-portfolio .portfolio-gallery .portfolio-section-title {
    display: none;
  }
}
.page-portfolio .portfolio-gallery .portfolio-list .portfolio-list-item {
  cursor: pointer;
  overflow: hidden;
}
.page-portfolio .portfolio-gallery .portfolio-list .portfolio-list-item img {
  width: 100%;
  display: block;
  transition: transform 300ms;
}
.page-portfolio .portfolio-gallery .portfolio-list .portfolio-list-item:hover img {
  transform: scale(1.2);
}
.page-portfolio .portfolio-gallery .portfolio-list:after {
  clear: both;
  content: "";
  display: block;
}
.page-portfolio .portfolio-information {
  background: #F9FAFB;
  padding: 20px;
}
@media (min-width: 700px) {
  .page-portfolio .portfolio-information {
    float: right;
    height: 100%;
    width: 50%;
    padding-top: 180px;
    padding-left: 80px;
  }
}
@media (max-height: 480px) {
  .page-portfolio .portfolio-information {
    padding-top: 130px !important;
  }
}
@media (min-width: 1024px) {
  .page-portfolio .portfolio-information {
    width: 31%;
    padding: 190px 20px 20px 20px;
  }
}
@media (max-width: 699px) and (max-height: 480px) {
  .page-portfolio .portfolio-information {
    padding-top: 30px !important;
  }
}
@media (min-width: 1250px) {
  .page-portfolio .portfolio-information {
    padding-right: 50px;
    padding-left: 80px;
  }
}
@media (min-width: 1024px) and (max-height: 600px) {
  .page-portfolio .portfolio-information {
    padding-top: 128px;
  }
}
@media (min-width: 1700px) {
  .page-portfolio .portfolio-information {
    padding-left: 160px;
  }
}
.page-portfolio .portfolio-information .portfolio-section-title {
  display: none;
}
@media (min-width: 700px) {
  .page-portfolio .portfolio-information .portfolio-section-title {
    display: block;
  }
}
@media (max-height: 480px) {
  .page-portfolio .portfolio-information .portfolio-section-title {
    padding-bottom: 15px;
  }
}
@media (min-width: 1024px) {
  .page-portfolio .portfolio-information .portfolio-section-title {
    display: none;
  }
}
.page-portfolio .portfolio-information .portfolio-information-title {
  font-family: "dosis", sans-serif;
  font-size: 50px;
  font-weight: 800;
  color: #3a3b3a;
  line-height: 1.1;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-size: 28px;
}
@media (min-width: 700px) {
  .page-portfolio .portfolio-information .portfolio-information-title {
    font-size: 38px;
  }
}
@media (max-height: 480px) {
  .page-portfolio .portfolio-information .portfolio-information-title {
    padding-bottom: 15px;
  }
}

.page-portfolio-landing .body-block {
  display: none;
}
.page-portfolio-landing .body-block-2 {
  width: 50%;
}
.page-portfolio-landing .portfolio-section-title,
.page-portfolio-landing .portfolio-information-title,
.page-portfolio-landing .portfolio-information-text,
.page-portfolio-landing .portfolio-list-item {
  opacity: 0;
}