{% set commonPath = '../common/' %}

<!doctype html>
<html class="holding" lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#d91f2d">

    {% block metaHead %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>

    <link rel="icon" href="/assets/manifest/favicon.png" type="image/png">
    <link rel="icon" href="/assets/manifest/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/assets/manifest/apple-touch-icon.png">
    <link rel="manifest" href="/assets/manifest/manifest.webmanifest">

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-P9FS95RN');</script>
<!-- End Google Tag Manager -->

    <link href="https://fonts.googleapis.com/css?family=Dosis:300,500,800|Fredoka+One:400|Source+Sans+Pro:300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />

    <script>
      console.log(
        "Welcome to %cPocket%cninja%cDesign.com",
        "color:##3a3b3a;font-size:14px;font-weight:bold;",
        "color:#d91f2d;font-size:14px;font-weight:bold;",
        "color:#cfd0d2;font-size:14px;font-weight:bold;"
      );
    </script>
  </head>
  <body class="{% block pageClass %}{% endblock %}">

  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P9FS95RN"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

    <div class="body-block bg-color-1"></div>
    <div class="body-block-2"></div>
    {% set nav = 0 %}
    {% set portfolioSelected = "uidesign" %}

    {% include commonPath ~ "logo.twig" with {
      "id": "primaryLogo",
      "uniqueClass": "primary-logo"
    } %}

    {% block sideNavBlock %}
      {% include commonPath ~ "side-navigation.twig" with {
        "current": nav,
        "navigation": siteData.navigation,
        "portfolioSelected": portfolioSelected
      } %}
    {% endblock %}

    {% block pageBespokeContent %}{% endblock %}

    <div id="contentArea" class="content-area">
      {% block body %}{% endblock %}
    </div>

    {% include commonPath ~ "tree.twig" %}

    <div style="display: none;">
      <div id="ninja" class="ninja">
        <img src="/images/pocketninja-medium.png" alt="Pocketninja little character popping up all over the place!">
      </div>
    </div>
    <script>
      var PND = {};
      PND.data = {
        chickens: "YES"
      }
      PND.siteData = {{ siteData|json_encode|raw }};

      {# console.log('PND.siteData nav [0]: ', PND.siteData.navigation[0]); #}
    </script>
    <script src="/assets/script/main.bundle.js?201803110922"></script>
  </body>
</html>