
.logo {
  font-size: #{sass_clamp(15, 25)};
  text-align: center;

  .logo-icon {
    margin-inline: auto;
    width: 60%;

    .blade {
      transform-origin: 50% 50%;
      animation: rotateLoop linear 900ms infinite;
    }
  }

  p {
    font-family: var(--logo-font);
    font-size: 1.6em;
    position: relative;
    top: -#{px2rem(10)};
  }
  .logo-pocket {
    color: var(--logo-pocket-color);
  }
  .logo-ninja {
    color: var(--logo-ninja-color);
  }
  .logo-design {
    color: var(--logo-design-color);
  }
}
