

// grey Backgrounds
.bg-pn-grey-0 { background-color: var(--color-pn-grey-0); }
.bg-pn-grey-1 { background-color: var(--color-pn-grey-1); }
.bg-pn-grey-2 { background-color: var(--color-pn-grey-2); }
.bg-pn-grey-3 { background-color: var(--color-pn-grey-3); }
.bg-pn-grey-4 { background-color: var(--color-pn-grey-4); }
.bg-pn-grey-5 { background-color: var(--color-pn-grey-5); }
.bg-pn-grey-6 { background-color: var(--color-pn-grey-6); }
.bg-pn-grey-7 { background-color: var(--color-pn-grey-7); }

// primary backgrounds
.bg-pn-primary-1 { background-color: var(--color-pn-primary-1); }
.bg-pn-primary-2 { background-color: var(--color-pn-primary-2); }