{% set prefix = '../' %}

{% extends prefix ~ 'template.primary.twig' %}

{% set pageName = 'Styleguide' %}
{% set pageSlug = 'styleguide' %}

{% block meta %}
  <meta name="title" content="Styleguide always in progress | {{ company.name }}">
  <meta name="description" content="{{ company.name }} | Styleguide for everything I'm building on the site so far and in the future.">
{% endblock %}

{% block pageTitle %}Styleguide always in progress{% endblock %}

{% block extraHeadAssets %}
{% endblock %}

{% block extraFootAssets %}
  <link rel="stylesheet" href="/css/styleguide.css">
{% endblock %}

{% block body %}
  <section class="bg-pn-grey-1 intro">
    <ninja-site-width>
      <h1>Styleguide</h1>
      <p class="large">A work in progress, so only for things that exist on the pages currently.  I'm trying to think of something that looks awesome to show rather than a tedious hello page.</p>
      <p class="large">This area will show a new feature I've been working on using CSS Vars to minimise styles for various colour blocks.</p>
    </ninja-site-width>
  </section>

  <section>
    <ninja-site-width>
      <h2>Fonts:</h2>
      <h1>Welcome to PocketNinjaDesign H1 Tag</h1>
      <h2>Welcome to PocketNinjaDesign H2 Tag</h2>
      <h3>Welcome to PocketNinjaDesign H3 Tag</h3>
      <h4>Welcome to PocketNinjaDesign H4 Tag</h4>
      <h5>Welcome to PocketNinjaDesign H5 Tag</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>The second paragraph, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      <h2>A H2 tag above a paragraph</h2>
      <p>Paragraph below a H2 tag, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut</p>
    </ninja-site-width>
  </section>

  <section>
    <ninja-site-width>
      <h2>Colour Swatches:</h2>
      <ninja-grid class="g8_t g10_dhd">
        <swatch class="bg-pn-grey-0"></swatch>
        <swatch class="bg-pn-grey-1"></swatch>
        <swatch class="bg-pn-grey-2"></swatch>
        <swatch class="bg-pn-grey-3"></swatch>
        <swatch class="bg-pn-grey-4"></swatch>
        <swatch class="bg-pn-grey-5"></swatch>
        <swatch class="bg-pn-grey-6"></swatch>
        <swatch class="bg-pn-grey-7"></swatch>
        <swatch class="bg-pn-primary-1"></swatch>
        <swatch class="bg-pn-primary-2"></swatch>
      </ninja-grid>
    </ninja-site-width>
  </section>
{% endblock %}