
$swatch1: #0b0b0b;
$swatch2: #1b1c1c;
$swatch3: #3a3b3a; // PC3: Primary Colour 3
$swatch4: #841619; // PC1: Darker
$swatch5: #d91f2d; // PC1: Primary Colour 1
$swatch6: #cfd0d2; // PC2: Primary Colour 2
$swatch7: #505050;
$swatch8: rgba($swatch7, 1); // Content Text

$swatch9: #fff;
$swatch10: #000;