* {
  box-sizing: border-box;
}

html,
body,
p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}


html,
body {
  height: 100%;
  width: 100%;
}

body {
  @include defaultFont();
  overflow: hidden;
}