
.bg-color-1 {
  background-color: $swatch1;
}
.bg-color-2 {
  background-color: $swatch2;
}
.bg-color-3 {
  background-color: $swatch3;
}
.bg-color-4 {
  background-color: $swatch4;
}
.bg-color-5 {
  background-color: $swatch5;
}
.bg-color-6 {
  background-color: $swatch6;
}
.bg-color-7 {
  background-color: $swatch7;
}
.bg-color-8 {
  background-color: $swatch8;
}
.bg-color-9 {
  background-color: $swatch9;
}
.bg-color-10 {
  background-color: $swatch10;
}