<div id="{{id}}" class="logo {{uniqueClass}}">
  <div class="logo-icon">
    {% include "logo-svg.twig" %}
  </div>
  <p class="logo-text"><span class="logotext-pocket">Pocket</span><span class="logotext-ninja">ninja</span><span class="logotext-design">.design</span></p>
</div>