<div class="portfolio-gallery">
  <h5 class="portfolio-section-title">{{ cat.title }}</h5>
  <ul class="portfolio-list grid grid-medium">
    {% for item in gallery %}
      <li class="portfolio-list-item grid-item" data-project-title="{{item.title}}">
        <img src="{{ filePrefix.thumb }}{{ item.img.thumb }}">
      </li>
    {% endfor %}
  </ul>
</div>