<div class="portfolio-information">
  <h5 class="portfolio-section-title">{{ title }}</h5>
  <h3 class="portfolio-information-title">{{ subTitle }}</h3>
  <p class="portfolio-information-text">{{ detailedDescription }}</p>
</div>