<div id="tree" class="tree-box">
  <div id="branch" class="branch"></div>
  <svg id="tree1" class="tree1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 275 330" width="100%" height="100%">
    <style type="text/css">
      .tree-base-st0{display:none;}
      .tree-base-st1{opacity:0.25;fill-rule:evenodd;clip-rule:evenodd;}
      .tree-shadow{fill-rule:evenodd;clip-rule:evenodd;}
      .tree-trunk-st3{fill-rule:evenodd;clip-rule:evenodd;fill:url(#tree-trunk-base_1_);}
      .tree-trunk-st4{fill-rule:evenodd;clip-rule:evenodd;fill:url(#tree-trunk-highlight_1_);}
      .tree-branch-st5{fill-rule:evenodd;clip-rule:evenodd;fill:#26480D;}
      .tree-branch-st6{fill-rule:evenodd;clip-rule:evenodd;fill:#41691C;}
      .tree-branch-st7{fill-rule:evenodd;clip-rule:evenodd;fill:#3D681C;}
      .tree-branch-st8{fill-rule:evenodd;clip-rule:evenodd;fill:#658F25;}
    </style>
    <rect id="Base" x="0.5" class="tree-base-st0" width="275" height="330"/>
    <g id="Layer_3">
      <ellipse class="tree-base-st1" cx="134.5" cy="269.5" rx="51.5" ry="12.5"/>
      <ellipse class="tree-shadow" cx="134.5" cy="269.5" rx="35" ry="8.5"/>
    </g>
    <g id="Outlines">
      <path id="branch-4-shadow" class="tree-shadow" d="M193.5,89c24,0,43.5,19.5,43.5,43.5S217.5,176,193.5,176c-24,0-43.5-19.5-43.5-43.5
        S169.5,89,193.5,89z"/>
      <path id="branch-1-shadow" class="tree-shadow" d="M79.7,90c21.4,0,38.7,17.3,38.7,38.7s-17.3,38.7-38.7,38.7c-21.4,0-38.7-17.3-38.7-38.7
        S58.3,90,79.7,90z"/>
      <path id="branch-2-shadow" class="tree-shadow" d="M112,53c18.8,0,34,15.2,34,34s-15.2,34-34,34c-18.8,0-34-15.2-34-34S93.2,53,112,53z"/>
      <path id="branch-3-shadow" class="tree-shadow" d="M180.5,55c16.8,0,30.5,13.7,30.5,30.5S197.3,116,180.5,116c-16.8,0-30.5-13.7-30.5-30.5
        S163.7,55,180.5,55z"/>
      <path id="branch-5-shadow" class="tree-shadow" d="M143,67c31.5,0,57,25.5,57,57s-25.5,57-57,57c-31.5,0-57-25.5-57-57S111.5,67,143,67z"/>
      <path id="tree-trunk-shadow" d="M172.9,157.1l-1.6-8.9l-4,8.1c-5.6,11.2-10.1,19.1-13.7,24c-4,5.4-5.7,5.5-5.9,5.5
        c-1.3,0-3.5-5.4-4.6-8.4c-2.9-7.2-6.4-16.2-14.9-16.2c-3.2,0-6.6,1.3-10.4,4l-2.8,1.9l2.2,2.5c12.9,14.5,18.2,26.2,17.8,39.4
        c-0.4,12.7-6.1,26-14,44.3c-1.7,4-3.5,8.2-5.3,12.6c-0.9,1.7-0.9,3.5,0,5.1c2.4,4.2,11.4,5.1,18.4,5.1c5.6,0,18.9-0.6,21-5.8
        c0.3-0.8,0.8-2.9-1.3-5c-19-25.2-5.1-50.8,7.2-73.3C168.4,178.6,174.7,167,172.9,157.1z"/>
    </g>
    <linearGradient id="tree-trunk-base_1_" gradientUnits="userSpaceOnUse" x1="144.1285" y1="273.2654" x2="144.1285" y2="157.686">
      <stop  offset="0" style="stop-color:#453B20"/>
      <stop  offset="1" style="stop-color:#352D17"/>
    </linearGradient>
    <path id="tree-trunk-base" class="tree-trunk-st3" d="M118.4,267.4c18.8-45.4,32.2-64.8,1.1-99.6c29.9-21,13.4,64.6,50.5-10.1
      c4.4,24.4-50.3,67.7-18.4,109.7C159,274.2,113.4,276.1,118.4,267.4z"/>
    <linearGradient id="tree-trunk-highlight_1_" gradientUnits="userSpaceOnUse" x1="143.7848" y1="271.0995" x2="143.7848" y2="166.365">
      <stop  offset="0" style="stop-color:#695725"/>
      <stop  offset="0.521" style="stop-color:#695725;stop-opacity:0.4"/>
      <stop  offset="0.57" style="stop-color:#695725;stop-opacity:0"/>
    </linearGradient>
    <path id="tree-trunk-highlight" class="tree-trunk-st4" d="M156.7,189.7c4.4-8.1,8.5-15.5,10.4-22c-10.9,20.4-15.9,23.3-19.6,23.2
      c-4.6-0.2-6.7-5.7-9.1-11.5c-2.2-5.4-4.6-11.6-8.7-12.8c-1.9-0.6-4.4,0-7.2,1.6c27,31.3,22.4,45.7,3.9,86.5c-1.8,4-3.2,7.2-5,11.7
      l-0.4,0.9c-0.1,0.2-0.5,1.2-0.5,1.2c0.1,0.3,1.8,1.5,7.1,2.2c9.5,1.2,19.2,0.2,21.6-1.5l-0.2-0.2
      C127.9,241.1,144.3,212.5,156.7,189.7z"/>
    <path id="branch-4" class="tree-branch-st5" d="M193.5,95.4c20.5,0,37.1,16.6,37.1,37.1s-16.6,37.1-37.1,37.1c-20.5,0-37.1-16.6-37.1-37.1
      S173,95.4,193.5,95.4z"/>
    <path id="branch-1" class="tree-branch-st5" d="M79.7,95.4c18.4,0,33.3,14.9,33.3,33.3S98.1,162,79.7,162c-18.4,0-33.3-14.9-33.3-33.3
      S61.3,95.4,79.7,95.4z"/>
    <path id="branch-2" class="tree-branch-st6" d="M112,58c16,0,29,13,29,29s-13,29-29,29c-16,0-29-13-29-29S96,58,112,58z"/>
    <path id="branch-3" class="tree-branch-st7" d="M180.5,60c14.1,0,25.5,11.4,25.5,25.5S194.6,111,180.5,111c-14.1,0-25.5-11.4-25.5-25.5
      S166.4,60,180.5,60z"/>
    <path id="branch-5" class="tree-branch-st8" d="M143,72c28.7,0,52,23.3,52,52s-23.3,52-52,52c-28.7,0-52-23.3-52-52S114.3,72,143,72z"/>
  </svg>
</div>